* {
    margin: 0;
    padding: 0;
}

body{
    margin: 4%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

nav {
    text-align: center;
    border: 1px solid gray;
    margin: 70px 30px 20px 0;
    padding: 10px;
}
nav > a{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: grey;
    margin: 30.5px;
    text-decoration-line: none; 
}

nav > a.active {
    text-decoration: underline;
    font-weight: bold;
    color: black
  }

input, select{
    display: block;
    width: 80%;
    margin: 10px;
    padding: 2px;
    margin: auto;
    margin-bottom: 5px;
}

h2{
    text-align: center;
    margin-bottom: 10px;
}

.tile-container {
    border-bottom: 1px dotted gray;
    margin-bottom: 2px;
}
